#almodon #about main {
    & {
        display: grid;
        overflow: auto;
        justify-content: center;
        padding: 2rem;
        gap: 2rem;
    }

    .content {
        & {
            display: grid;
            max-width: 100ch;
            box-sizing: content-box;
            gap: 2rem;
        }

        .hero {
            & {
                display: grid;
                justify-items: center;
            }

            h1 {
                font-size: 2.5rem;
                color: var(--color);
                font-weight: bold;
            }

            h2 {
                font-weight: bold;
                text-align: center;
            }
        }

        hr {
            & {
                display: grid;
                position: relative;
                place-items: center;
                background-image: url(/toolkit/assets/almodon.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                height: 2rem;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                background-color: var(--color);
                border-radius: var(--radius-circle);
                width: 12rem;
                height: 2px;
            }

            &::before {
                translate: -8rem 0;
            }

            &::after {
                translate: 8rem 0;
            }
        }

        figure {
            & {
                position: relative;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                background-image: url(/toolkit/assets/banner.png);
                background-size: cover;
                filter: blur(16px);
                height: 100%;
                width: 100%;
                z-index: -1;
            }

            img {
                border-radius: var(--radius-round);
            }
        }

        section {
            display: grid;
            gap: 1rem;
        }

        .contributor-list {
            & {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
                gap: .5rem;
            }

            .contributor {
                display: grid;
                justify-items: center;
                border-radius: var(--radius-round);
                border: var(--border) var(--color-primary-75);
                transition: var(--transition);
                background-color: var(--color-primary-97);
                padding: 1rem;
            }

            .contributor:is(:hover, :focus-visible) {
                border-color: var(--color-primary-25);
            }

            .contributor:active {
                border-color: var(--color-accent-50);
                color: var(--color-accent-50);
            }

            .avatar {
                object-fit: contain;
                border-radius: var(--radius-circle);
                aspect-ratio: 1;
                width: 4rem;
                box-sizing: content-box;
            }

            .name {
                padding-top: .5rem;
                text-align: justify;
            }

            .github {
                text-decoration: underline;
            }
        }
    }

    footer {
        & {
            display: grid;
            font-size: .875rem;
            color: var(--color-primary-97);
            background-color: var(--color-primary-25);
            border-radius: var(--radius-round);
            padding: 1rem 2rem;
            gap: 1rem;
        }

        hr {
            height: 1px;
            background-color: var(--color-primary-50);
        }

        .repository {
            & {
                --color-little-chick: #f8ddac;

                display: grid;
                grid-template-columns: auto 1fr;
                background-color: var(--color-primary-35);
                border-radius: var(--radius-round);
                align-items: center;
                padding: .5rem .75rem;
                gap: .5rem;
                transition: var(--transition);
            }

            img {
                height: 3.5rem;
                aspect-ratio: 1;
                padding: .5rem;
            }

            h4 {
                color: var(--color-primary-75);
                font-size: .75rem;
            }

            &:is(:hover, :focus-visible) {
                box-shadow: 0 0 0 2px var(--color-little-chick);
            }

            &:active {
                box-shadow: 0 0 0 3px var(--color-little-chick);
            }
        }

        .associates {
            & {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1.5rem;
            }

            .associate {
                height: 2rem;
            }
        }

        .copyright {
            & {
                text-align: center;
            }

            .license {
                & {
                    color: var(--color-primary-75);
                    font-size: .75rem;
                }

                a:is(:hover, :focus-visible) {
                    color: var(--color-primary-90);
                }

                a:active {
                    color: var(--color-primary-95);
                }
            }
        }
    }
}